<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
    {{header}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" style="overflow: scroll; width: 100%; position: relative; max-height: 200px;">
    <li>
      <!-- changed placeholder to Filter/Add -->
      <input class="form-control input-sm" type="text" ng-model="searchText.label"
             ng-keyup="processKey($event);" autofocus="autofocus" placeholder="Filter/Add" />
    </li>
    <li ng-show="multiple" role="presentation" class="">
      <button class="btn btn-link btn-xs" ng-click="checkAll()" type="button"><i class="glyphicon glyphicon-ok"></i> Check all</button>
      <button class="btn btn-link btn-xs" ng-click="uncheckAll()" type="button"><i class="glyphicon glyphicon-remove"></i> Uncheck all</button>
      <button class="btn btn-link btn-xs" ng-click="addItem(); focus();" type="button"><i class="glyphicon glyphicon-remove"></i> Add</button>
      <button class="btn btn-link btn-xs" ng-click="clearFilter(); focus();" type="button"><i class="glyphicon glyphicon-remove"></i> Clear</button>
    </li>
    <li ng-repeat="i in items | textFilter:searchText">
      <a ng-click="select(i); focus()">
        <i class='glyphicon' ng-class="{'glyphicon-ok': i.checked, 'empty': !i.checked}"></i> {{i.label}}</a>
    </li>
  </ul>
</div>
